<h1>Teams</h1>

<%= link_to 'Create New Team', new_team_path, class: "btn btn-primary mb-3" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>City</th>
      <th>Name</th>
      <th>Head Coach</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.city %></td>
        <td><%= team.name %></td>
        <td><%= team.head_coach %>
        <td>
          <%# <%= link_to 'View', team_path(team), class: "btn btn-info btn-sm" %>
          <%= link_to 'Edit', edit_team_path(team), class: "btn btn-warning btn-sm" %>
          <%= link_to 'Delete', team_path(team), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          <%= link_to 'Create Roster for Next Game', new_game_path(team_id: team.id), class: 'btn btn-info btn-sm' %>
          <%= link_to 'Show Team Report', team_path(id: team.id), class: 'btn btn-warning btn-sm' %>


        </td>

      </tr>
    <% end %>
  </tbody>
</table>
