j<h1><%= @team.full_team_name %></h1>

<h2>Team Position Report</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Jersey Number</th>
      <th>Name</th>
      <th>Games Played</th>
      <th>Pitcher</th>
      <th>Catcher</th>
      <th>First Base</th>
      <th>Second Base</th>
      <th>Shortshop</th>
      <th>Third Base</th>
      <th>Outfield</th>
      <th>Sat Out</th>
    </tr>
  </thead>
  <tbody >
    <% @report.each do |player| %>
      <tr>
        <td><%= player[:jersey_number] %></td>
        <td><%= player[:name] %></td>
        <td><%= player.dig(:player_report, :games_played) %></td>
        <td><%= player.dig(:player_report, :pitcher) %></td>
        <td><%= player.dig(:player_report, :catcher) %></td>
        <td><%= player.dig(:player_report, :first_base) %></td>
        <td><%= player.dig(:player_report, :second_base) %></td>
        <td><%= player.dig(:player_report, :shortshop) %></td>
        <td><%= player.dig(:player_report, :third_base) %></td>
        <td><%= player.dig(:player_report, :outfield) %></td>
        <td><%= player.dig(:player_report, :out) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
