<h1><%= @team.full_team_name %></h1>

<p>
  <strong>City:</strong> <%= @team.city %><br>
  <strong>Name:</strong> <%= @team.name %>
</p>

<%= link_to 'Edit Team', edit_team_path(@team), class: "btn btn-warning" %>
<%= link_to 'Delete Team', team_path(@team), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<%= link_to 'Back to Teams', teams_path, class: "btn btn-secondary" %>

<hr />

<h2>Players</h2>

<%= link_to 'Add New Player', new_team_player_path(@team), class: 'btn btn-primary mb-3' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Jersey Number</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Assist Outs</th>
      <th>Direct Outs</th>
      <th>Home Runs</th>
      <th>Lead-offs</th>
      <th>Postgame Cheers</th>
      <th>Sat Out</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody >
    <% @team.players.sort_by {|p| p[:jersey_number] }.each do |player| %>
      <tr >
        <td><%= player.jersey_number %></td>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <td style="text-align: center"><%= player.assist_out.to_i %></td>
        <td style="text-align: center"><%= player.direct_out.to_i %></td>
        <td style="text-align: center"><%= player.homeruns.to_i %></td>
        <td style="text-align: center"><%= player.leadoffs.to_i %></td>
        <td style="text-align: center"><%= player.postgame_cheer.to_i %></td>
        <td style="text-align: center"><%= player.sat_out.to_i %></td>
        <td>
          <%= link_to 'To Player Info', player_path(player), class: 'btn btn-sm btn-info' %>
          <%= link_to 'Edit Core Player Info', edit_player_path(player), class: 'btn btn-sm btn-warning' %>
          <%= link_to 'Delete Player', player_path(player), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
