<% if player.errors.any? %>
  <div class="alert alert-danger">
    <h4>Errors:</h4>
    <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_with(model: [player.team, player]) do |form| %>
  <div class="mb-3">
    <%= form.label :first_name, class: 'form-label' %>
    <%= form.text_field :first_name, class: 'form-control', placeholder: 'Enter first name' %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, class: 'form-label' %>
    <%= form.text_field :last_name, class: 'form-control', placeholder: 'Enter last name' %>
  </div>

  <div class="mb-3">
    <%= form.label :jersey_number, class: 'form-label' %>
    <%= form.number_field :jersey_number, class: 'form-control', placeholder: 'Enter jersey number' %>
  </div>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', player.team, class: 'btn btn-secondary' %>
  </div>
<% end %>
